.wrapper
  max-width: 600px
  text-align: center
  margin: 0 auto

.pic
  border-radius: 100%
  border: 12px solid lightgrey
  margin-top: 100px
  margin-bottom: 50px

.bio
  font-family: $pavanam
  font-size: 24px
  line-height: 2em
  a
    text-decoration: none
    text-shadow: 1px 1px black
