body
  background-color: $grey
  height: 100vh
  text-align: center

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.bio-wrapper
  max-width: 400px

.bio
  font-family: $pavanam
  line-height: 2em
  font-size: 24px
  span
    // background-color: white
  a
    text-decoration: none
    text-shadow: 1px 1px black

.mirego
  color: $brown
.github
  color: $black
.twitter
  color: $blue
.quora
  color: $red
.facebook
  color: $fbblue
.genius
  color: $yellow
.gmail
  color: $gblue

.picture
  border-radius: 100%
